.reveal h1 {
  font-size: 1.6em;
}

.reveal h2 {
  font-size: 1.2em; }

.reveal h3 {
  font-size: 1.0em; }

.reveal h4 {
  font-size: 1.0em; }

@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  text-transform: none;
  font-weight: bold;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal {
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #222;
}

.reveal pre {
  font-size: 0.6em;
}

.reveal p > code {
  font-family: monospace;
  background: #eee;
  text-transform: none;
  padding: .1em .2em;
  border: 1px #aaa solid;
  border-radius: 0.2em;
  color: #c33;
  font-size: .9em;
}
